@import "@/app/styles/globals.scss";

.cardWrapper {
  perspective: 1000px;

  .card {
    position: relative;
    width: 100%;
    height: 100%;

    transition: transform 0.6s;
    transform-style: preserve-3d;

    @include flexRow;
    font-size: $slogan;
    user-select: none;

    .cardFront,
    .cardBack {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      @include flexRow;
    }

    .cardBack {
      transform: rotateY(180deg);
    }
  }
}
