@import "@/app/globals.scss";

.preview {
  min-height: $bodyHeight;
  padding-bottom: 12vh;
  width: calc($previewWidth - 5px);

  position: relative;
}

.container {
  height: fit-content;
  min-height: 150px;
  margin: 15px;
}
