.optionWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.action {
  max-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
