@import "@/app/globals.scss";

.input {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0;
  color: var(--primary-dark);
  font-size: $large;
}

.inputWithStartAdornment {
  padding-left: 45px;
}

.inputWithEndAdornment {
  padding-right: 45px;
}
