@import "@/app/globals.scss";

.header {
  height: $headerHeight;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff2d7;
  z-index: 2;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  position: relative;

  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 0 50px;
  }

  .editorInfomation {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .totalComponent {
    font-size: $large;
  }
}
